<!-- views/logs.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Logs</title>
    <link rel="stylesheet" type="text/css" href="/front/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/front/custom.css">  
</head>
<body class="bg-light p-4">
    <div class="container">
        <h1 class="mb-4 text-center text-primary">App Logs</h1>

        <% if (logMessages && logMessages.length > 0) { %>
            <div class="accordion" id="logAccordion">
                <% logMessages.forEach((log, index) => { %>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading<%= index %>">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
                                Log <%= index + 1 %> - <%= log.method %> | <%= log.apiUrl %>
                            </button>
                        </h2>
                        <div id="collapse<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading<%= index %>" data-bs-parent="#logAccordion">
                            <div class="accordion-body">
                                <dl class="row">
                                    <dt class="col-sm-3">Level</dt>
                                    <dd class="col-sm-9 text-capitalize"><small class="<%= (log.level == 'error') ? 'bg-danger': 'bg-info'  %> text-white rounded-2 px-2 pb-1 shadow"><%= log.level %></small></dd>

                                    <dt class="col-sm-3">Status Code</dt>
                                    <dd class="col-sm-9 text-capitalize"><small class="<%= statusColor(log.status) %> text-white rounded-2 px-2 pb-1 shadow"><%= log.status %></small></dd>

                                    <dt class="col-sm-3">API URL</dt>
                                    <dd class="col-sm-9 text-lowercase"><small class="bg-success text-white rounded-2 px-2 pb-1 shadow"><%= log.apiUrl %></small></dd>

                                    <dt class="col-sm-3">Method</dt>
                                    <dd class="col-sm-9 text-uppercase text-success"><%= log.method %></dd>

                                    <dt class="col-sm-3">Parameters</dt>
                                    <dd class="col-sm-9 parameters">
                                        <pre><code class="json"><%- formatParameters(log.parameters) %></code></pre>
                                    </dd>
                                    <dt class="col-sm-3">Timestamp</dt>
                                    <dd class="col-sm-9"><%= formatDate(log.timestamp) %></dd>

                                    <dt class="col-sm-3">Type</dt>
                                    <dd class="col-sm-9 text-capitalize"><small class="<%= (log.level == 'error') ? 'bg-danger': 'bg-info'  %> text-white rounded-2 px-2 pb-1 shadow"><%= log.type %></small></dd>

                                    <dt class="col-sm-3">Message</dt>
                                    <dd class="col-sm-9"><%= log.message %></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <p>No logs available.</p>
        <% } %>    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-DZw81WWmXqj2Ri5JSZjJL6euC4E+Kx50eBcf7xQpZ6Xl5BR8i6CAzZUcpOELXy0q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/front/js/bootstrap.bundle.min.js"></script>
</body>
</html>
